:root {
  --PRIMARY-COLOR: rgb(55, 136, 250);
  --SECONDARY-COLOR: rgb(224, 236, 255);
}

.LPHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  background-color: var(--bg);
  /* border-ottom: 1px solid lightgray; */
  padding-inline: 10px;
  z-index: 100;
}

.scroll-container {
  width: 100%;
  height: 4px;
  background-color: transparent;
  position: fixed;
  top: 50px;
  left: 0;

  & .scroll-bar {
    width: 0%;
    height: 4px;
    background-color: var(--primary);
    transition: width 0.5s;
  }
}

.authBtnsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;

  & button {
    padding: 5px;
    letter-spacing: 1px;
    border-radius: 5px;
    outline: none;
    width: 100px;
    font-size: 1rem;
    cursor: pointer;
  }

  & .signInBtn {
    background-color: transparent;
    border: 1px solid rgb(55, 136, 250);
    color: rgb(55, 136, 250);
  }

  & .signUpBtn {
    background-color: rgb(55, 136, 250);
    color: white;
    border: none;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1rem;

  & img {
    width: 30px;
    height: 30px;

    border-radius: 50%;
  }

  & p {
    color: rgb(55, 136, 250);
    font-size: 1.1rem;
    font-weight: 700;
  }
}
/* 
.menuIconSpan {
  cursor: pointer;
}

.navMenu {
  position: fixed;
  top: 70px;
  right: 5px;
  width: 0;
  
  display: flex;
  flex-direction: column;
  gap: 26px;
  color: rgb(224, 236, 255);
  background-color: rgb(55, 136, 250);
  padding: 0;
  border-radius: 10px;
  transition: width .2s linear;
  overflow: hidden;

  & li {
    font-size: 1.1rem;
    
    padding-bottom: 5px;
    cursor: pointer;
  }

  & a {
    color: white;
  }
}

.ShowNavMenu {
  width: 200px;
  padding: 10px;
  padding-block: 20px;
}
 */

.LPMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  margin: 0;
}

.heroSection {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 60px;
  gap: 20px;
  margin-bottom: 2rem;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
  width: 50%;

  & .label {
    background-color: var(--icon-container);
    width: fit-content;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 15px;
    font-size: 0.9rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 5px;
  }

  & h2 {
    font-size: 3rem;
  }

  & .trendy {
    color: rgb(55, 136, 250);
    font-style: italic;
  }

  & .heroParagraph {
    color: rgb(108, 108, 108);
  }
}

.writing-illustration {
  width: 40%;
  height: 100%;
}

.CTABtnsContainer {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 20px;
  padding: 10px;
  padding-left: 0;
  margin-top: 2rem;
  /*margin-inline: auto;*/

  & button {
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    white-space: nowrap;
    width: 40%;
  }

  & .btn1 {
    background-color: rgb(55, 136, 250);
    color: white;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    box-shadow: 0 0 4px rgb(55, 136, 250);
    width: 50%;
    height: 50px;
  }

  & .btn1:hover {
    animation: vibrate 0.3s linear infinite both;
  }

  & .btn2 {
    background-color: var(--bg);
    border: 1px solid gray;
    color: rgb(108, 108, 108);
    padding: 10px;
    height: 50px;
  }
}

.creation-flow-section {
  height: 70dvh;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.creation-section-header {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & h3 {
    font-size: 1.7rem;
  }

  & p {
    color: gray;
  }
}

.creation-flows-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 50px;

  & .creation-flow-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: fit-content;

    & svg {
      background-color: rgb(235, 235, 251);
      width: fit-content;
      height: fit-content;
      padding: 5px;
      padding-inline: 8px;
      border-radius: 5px;
      margin-bottom: 1rem;
    }

    & p:nth-child(2) {
      font-weight: 600;
      font-size: 1.1rem;
    }

    & p:nth-child(3) {
      width: 80%;
      color: gray;
    }
  }
}

.engagement-section {
  height: 60dvh;
}

.tools-cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
}

.tool-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: fit-content;

  & .icon-text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    & p {
      font-size: 1.1rem;
      font-weight: 600;
      color: var(--primary);
    }
  }

  & p {
    color: gray;
  }
}

.insights-section {
  height: fit-content;
  width: 100%;
  padding: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.insights-section .left-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.insights-list-container {
  padding-left: 50px;

  & ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 0;
    margin: 0;

    & li {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}

.insights-section .right-container {
  width: 50%;
  height: 60dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.bottom-cta-container {
  margin-block: 2rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  overflow: hidden;
  margin: 25dvh auto;
  cursor: pointer;

  & p {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary);
    text-align: center;
  }

  & button {
    font-size: 1rem;
    background-color: var(--primary);
    border: none;
    border-radius: 15px;
    color: white;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-inline: 25px;
    cursor: pointer;

    & svg {
      cursor: pointer;
    }
  }
}

.bottom-cta-container::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.138) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%) skewX(-20deg);
  animation: shimmer-sweep 2.5s infinite linear;
}

@keyframes shimmer-sweep {
  100% {
    transform: translateX(100%) skewX(-20deg);
  }
}

.howItWorksSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--surface);
  padding-block: 20px;

  & h3 {
    font-size: 1.8rem;
  }

  & .subHeading {
    text-align: center;
    font-size: 0.9rem;
    width: 60%;
    margin-bottom: 2rem;
  }

  & .stepsContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;

    & .step {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: 2px solid rgb(224, 236, 255);
      border-radius: 10px;
      gap: 15px;
      transition:
        transform 0.2s linear,
        filter 0.2s linear;

      & .iconContainer {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        background-color: rgb(224, 236, 255);
        position: relative;

        & .stepCount {
          position: absolute;
          top: -2px;
          right: -2px;
          background-color: brown;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          border-radius: 50%;
          font-size: 0.7rem;
          width: 15px;
          height: 15px;
          text-align: center;
        }
      }

      & .stepName {
        font-size: 1.1rem;
        font-weight: 600;
      }

      & .stepDescription {
        color: gray;
        width: 80%;
        text-align: center;
      }
    }
  }
}

.stepsContainer:hover .step:not(:hover) {
  filter: blur(2px);
  transform: scale(0.9);
  transition:
    transform 0.2s linear,
    filter 0.2s linear;
}

.stepsContainer:hover .step:hover {
  border: 1px solid rgb(55, 136, 250);
  transform: scale(1.1);
  transition: transform 0.2s linear;
}

.opinionsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg);
  margin-top: 2rem;
  padding: 10px;
  padding-block: 20px;
  width: 100%;

  & h3 {
    font-size: 1.8rem;
  }

  & .opinionsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
  }

  & .opinionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 350px;
    height: fit-content;
    box-shadow: 0 0 4px var(--border);
    border-radius: 10px;
    background-color: var(--bg);

    & .opinionText {
      font-size: 1rem;
      font-style: italic;
    }

    & .opinionProfileContainer {
      display: flex !important;
      flex-direction: row !important;
      gap: 10px;
      margin-top: 1rem;

      & figure {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      & .nameJobContainer {
        display: flex;
        flex-direction: column;
        gap: 2px;

        & .opinionName {
          font-size: 0.9rem;
          font-weight: 600;
        }

        & .opinionJob {
          color: gray;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.newsletterSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & .container {
    width: 80%;
    height: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin-inline: auto;
    background-color: rgb(55, 136, 250);
    border-radius: 15px;
    color: white;

    & h3 {
      font-size: 1.6rem;
    }

    & p {
      font-size: 1.1rem;
      text-align: center;
      color: rgb(224, 236, 255);
      width: 50ch;
    }

    & form {
      width: 60%;
      margin-inline: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 10px;

      & input {
        width: 70%;
        height: 40px;
        padding: 10px;
        font-size: 1rem;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: rgba(224, 236, 255, 0.337);
        color: rgb(224, 236, 255);
        font-weight: 500;
      }

      & input::placeholder {
        color: rgb(224, 236, 255);
      }

      & button {
        width: fit-content;
        height: 40px;
        letter-spacing: 1px;
        font-size: 1rem;
        background-color: white;
        color: rgb(55, 136, 250);
        border: none;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
      }

      & button:active {
        scale: 0.9;
      }
    }

    & .privacyP {
      font-size: 0.9rem;
      color: rgb(red, green, blue);
    }
  }
}

.bottomSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 10px;
  padding-top: 20px;
  gap: 20px;
  background-color: var(--surface);

  & .firstContainer,
  .secondContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    max-width: 50%;
    height: fit-content;

    & .heading {
      display: flex !important;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      text-align: center;
      gap: 5px;

      & img {
        width: 30px;
        height: 30px;
      }
    }

    & .subHeading {
      font-size: 0.7rem;
      width: 80%;
      line-height: 17px;
    }

    & ul {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      padding-left: 0;

      & li {
        font-size: 0.7rem;
        white-space: nowrap;
        text-align: left;
        margin: 0;
      }
    }

    & .socialsContainer {
      display: flex !important;
      flex-direction: row !important;
      justify-content: start;
      align-items: center;
      width: 50%;
      padding-block: 10px;
      gap: 5px;

      & .socialContainer {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid rgb(55, 136, 250);
        display: grid;
        place-content: center;
        padding: 15px;
        cursor: pointer;
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: var(--bg);
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  & p {
    font-size: 0.8rem;
  }

  & .heading {
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
    gap: 5px;

    & img {
      width: 30px;
      height: 30px;
    }
  }

  & .container {
    border-top: 1px solid gray;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 10px;

    & p {
      font-size: 0.8rem;
    }

    & .rightContainer {
      width: 33%;
      & p {
        width: 60%;
        color: gray;
      }
    }

    .statement {
      width: 33%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;

      background-color: #f5ff89cb;
      border-radius: 10px;
      gap: 10px;

      & span {
        display: grid;
        place-content: center;
      }
      & p {
        font-size: 0.8rem;
        font-weight: 500;
        color: #cabe00;
      }
    }

    & .leftContainer {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: end;
      gap: 5px;

      & p {
        color: rgb(77, 149, 250);
        cursor: pointer;
      }
    }
  }
}

.spacer {
  height: 50vh;
  background-color: white;
}

/* || MEDIA QUERIES */
@media (max-width: 768px) {
  .heroSection {
    height: 100%;
    padding: 10px;
    padding-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .heroTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    width: 50%;

    & h2 {
      font-size: 2rem;
      text-align: center;
    }

    & .heroParagraph {
      color: rgb(108, 108, 108);
      text-align: center;
      font-size: 0.9rem;
    }
  }

  .writing-illustration {
    width: 100%;
    height: 50%;
  }

  .authBtnsContainer {
    & button {
      padding: 5px;

      border-radius: 5px;
      outline: none;
      width: 70px;
      font-size: 0.8rem;
    }
  }

  .logoContainer {
    & img {
      width: 30px;
      height: 30px;
    }

    & p {
      color: rgb(55, 136, 250);
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .heroTextContainer {
    width: 100%;
  }

  .CTABtnsContainer {
    width: 100%;
    justify-content: flex-start;
    align-items: start;

    & button {
      width: 50%;
    }
  }

  .creation-flow-section {
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 3rem;
  }

  .creation-section-header {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;

    & h3 {
      font-size: 1.3rem;
    }
  }

  .creation-flows-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    & .creation-flow-card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      width: fit-content;

      & svg {
        background-color: rgb(235, 235, 251);
        width: fit-content;
        height: fit-content;
        padding: 5px;
        padding-inline: 8px;
        border-radius: 5px;
        margin-bottom: 1rem;
      }

      & p:nth-child(2) {
        font-weight: 600;
        font-size: 1rem;
      }

      & p:nth-child(3) {
        width: 80%;
        font-size: 0.9rem;
      }
    }
  }

  .tool-card {
    & p {
      font-size: 0.9rem;
    }
  }

  .insights-section {
    flex-direction: column;
    height: 100%;

    & .right-container {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .insights-list-container {
    padding-left: 20px;
  }

  .creation-flows-container,
  .tools-cards-container {
    flex-direction: column;
    gap: 30px;
    align-items: start;
    padding-left: 20px;
  }

  .bottom-cta-container {
    margin: 50px auto 100px;
  }

  .footer {
    align-items: start;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;

    & p {
      width: 80%;
    }
  }

  /* .curatedStoriesSection {
    & .storiesContainer {
      gap: 50px;
    }
  }


  .howItWorksSection {
    & .stepsContainer {
      gap: 30px;
    }

    & .step {
      width: 300px;

      & .stepDescription {
        font-size: 0.8rem;
      }
    }
  }

  .newsletterSection {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & .container {
      width: 80%;
      height: 50%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-inline: auto;
      background-color: rgb(55, 136, 250);
      border-radius: 15px;
      color: white;

      & h3 {
        font-size: 1.6rem;
        width: 80%;
        text-align: center;
      }

      & p {
        font-size: 0.9rem;
        text-align: center;
        color: rgb(224, 236, 255);
        width: 80%;
      }

      & form {
        width: 80%;
        margin-inline: auto;
        margin-block: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;

        & input {
          width: 100%;
          height: 45px;
          padding: 10px;
          font-size: 1rem;
          border: none;
          outline: none;
          border-radius: 10px;
          background-color: rgba(224, 236, 255, 0.337);
          color: rgb(224, 236, 255);
          font-weight: 500;
        }

        & input::placeholder {
          color: rgb(224, 236, 255);
        }

        & button {
          display: grid;
          place-content: center;
          width: 100%;
          height: 35px;
          letter-spacing: 1px;
          font-size: 0.9rem;
          background-color: white;
          color: rgb(55, 136, 250);
          border: none;
          border-radius: 8px;
          padding: 10px;
          cursor: pointer;
        }

        & button:active {
          scale: 0.9;
        }
      }

      & .privacyP {
        font-size: 0.9rem;
      }
    }
  }

  footer .container {
    flex-direction: column;
    gap: 20px;
    & .rightContainer,
    .statement,
    .leftContainer {
      width: 100% !important;
    }

    & .leftContainer {
      align-items: start !important;
    }
  } */
}

@media (min-width: 768px) {
  .CTABtnsContainer {
    width: 100%;

    & button {
      width: 50%;
    }
  }

  .curatedStoriesSection {
    & .storiesContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
  }

  .howItWorksSection {
    width: 100%;
    & .stepsContainer {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;

      & .step {
        height: 300px;
        width: 350px;
      }
    }
  }

  .opinionsSection {
    height: 60vh;
    & .opinionsContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 10px;

      & .opinionContainer {
        & .opinionText {
          font-size: 0.9rem;
        }
      }
    }
  }

  .bottomSection {
    flex-direction: row;
  }

  .bottomSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    padding-top: 20px;
    gap: 20px;
    background-color: var(--surface);

    & .firstContainer,
    .secondContainer {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    & .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10px;
      gap: 10px;
      max-width: 50%;
      height: fit-content;

      & .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        text-align: center;
        gap: 5px;

        & img {
          width: 30px;
          height: 30px;
        }
      }

      & .subHeading {
        font-size: 0.8rem;
        width: 80%;
        line-height: 17px;
      }

      & ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding-left: 0;

        & li {
          font-size: 0.9rem;
          white-space: nowrap;
          text-align: left;
          margin: 0;
        }

        & li:hover {
          color: rgb(55, 136, 250);
        }
      }

      & .socialsContainer {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 50%;
        padding-block: 10px;
        gap: 5px;

        & .socialContainer {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid rgb(55, 136, 250);
          display: grid;
          place-content: center;
          padding: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

.fading-elements {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.fading-elements.visible {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}
